* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: var(--c-white);
  color: var(--c-black);
  text-align: center;
}
#app {
  font-size: 30px;
}
a {
  color: var(--c-black);
  text-decoration: none;
}
.go-home{
  position: absolute;
  left: 0;
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
}
.go-home:hover {
  transform: scale(1.1) translate(10px);
}