mixin styles
  // * Styles
  // Normalize
  link(rel="stylesheet" href="./scss/_normalize.scss")
  // General
  link(rel="stylesheet" href="./scss/_main.scss")
  // Variables
  link(rel="stylesheet" href="./scss/_variables.scss")
  // Local
  link(rel="stylesheet" href="./index.css")