// For fonts
// * Fonts
@mixin font-face(
  $font-name,
  $fontfile,
  $fontweight: normal,
  $fontstyle: normal
) {
  @font-face {
    font-family: $font-name;
    src: url("./assets/fonts/" + $fontfile + ".eot"),
      url("./assets/fonts/" + $fontfile + ".woff"), format("woff"),
      url("./assets/fonts/" + $fontfile + ".ttf"), format("truetype");
    font-weight: $fontweight;
    font-style: $fontstyle;
  }
}

// * Generate EM
@function em($px) {
  @return calc($px / $fs-base) + em;
}
