@font-face {
  src: url("../../fonts/gloria-hallelujah.ttf");
  font-family: "GloriaHallelujah";
}
body{
  font-family: "GloriaHallelujah";
}
.go-home{
  margin-top: 20px;
}
.main-title h1{
  margin-top: 20px;
}