// COLORS
$c-black: #000;
$c-blue: #1C1E52;
$c-orange: #FD8061;
$c-white: #F9FAFF;
$c-white-dark: #F8EFEF;

// Font
$f-roboto: 'Roboto', sans-serif;

// Font size
$fs-base: 16;
// $fs-h1: 48;

// Transition
$t-normal: .35s cubic-bezier(.4,0,.2,1);

// Box Shadow
$bs-normal: 3px 4px 7px rgba($c-black, .1);