mixin banner__head()
  .banner__head
    .banner__subtitle='The geniuses behind our work'
    .banner__title='Our team'
    .banner__bonfire-icon
      img(src="assets/icons/bonfire.svg" alt="Bonfire icon")