mixin icons()
  +icon('banner__info-section__icons', 'Facebook', './assets/icons/facebook.svg')
  +icon('banner__info-section__icons', 'Twitter', './assets/icons/twitter.svg')
  +icon('banner__info-section__icons', 'Google+', './assets/icons/google+.svg')
  +icon('banner__info-section__icons', 'LinkedIn', './assets/icons/linkedin.svg')