<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="template-favicon.png" />
    <!-- * Styles -->
    <!-- Normalize -->
    <link rel="stylesheet" href="../../css/normalize.css" />
    <!-- General -->
    <link rel="stylesheet" href="../../css/main.css" />
    <!-- Variables -->
    <link rel="stylesheet" href="../../css/variables.css" />
    <!-- Local -->
    <link rel="stylesheet" href="./template.css" />
    <title>Template</title>
  </head>
  <body>
    <div id="app">
      <div class="go-home">
        <a href="../../index.html"><span>< Go back</span></a>
      </div>
      <div class="page">
        <!-- * Page -->
      </div>
    </div>
  </body>
</html>
