@font-face {
  src: url("../../fonts/lucida-sans-unicode.ttf");
  font-family: "LucidaSansUnicode";
}
body {
  font-family: "LucidaSansUnicode";
}
#app {
  border: var(--border) solid #2b81ac;
  background-color: #3399cc;
  min-height: 100vh;
}
.go-home{
  color: white;
}
.page {
  height: calc(100vh - var(--border) * 2);
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 22px;
  display: flex;
}
.page-wrapper {
  margin: auto;
}
.title {
  justify-content: left;
  align-items: baseline;
  padding-bottom: 40px;
  font-size: 22px;
  display: flex;
}
.title span{
  margin-right: 8px;
}
.title-icon {
  font-size: 27px;
}
.weather-forecast-grid {
  justify-content: space-between;
  border: 2px solid #ffffff;
  background-color: #ffffff;
  flex-wrap: wrap;
  display: flex;
  width: 1164px;
}
.weather-forecast-item {
  transition: 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  border: 2px solid #ffffff;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: initial;
  cursor: pointer;
  display: flex;
  opacity: 0.7;
}
.weather-forecast-item:hover {
  opacity: 1;
}
.small {
  height: 146px;
  width: 290px;
}
.medium {
  height: 146px;
  width: 580px;
}
.big {
  width: 1160px;
  height: 146px;
}
.city {
  margin-bottom: 10px;
}
.temperature-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
  opacity: 0.7;
}
.temperature {
  align-items: center;
  margin-right: 10px;
  font-size: 22px;
  display: flex;
}
.temperature-number {
  margin-right: 1px;
}
.celsius-icon {
  font-size: 34px;
}
.temperature-icon {
  font-size: 42px;
}
.wi {
  font-weight: 400;
}
.footer-title{
  font-size: 16px;
  display: flex;
  justify-content: left;
  margin-top: 38px;
}
